* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Poppins", sans-serif;
    background: #efe9f7;
}


nav {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 100;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #2a1a47;
    font-weight: 600;
    font-size: 10 px;
    
}

nav a:hover {
    color: #8040ff;
}


.full-sectiona {
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.full-sectionb {
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
}


.header-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

.intro h1 {
    margin-left: 20px;
    color: #2a1a47;
    letter-spacing: 2px;
    font-size: 100 px;
}

.intro h3 {
    margin-left: 20px;
    color: #4e3d6b;
    margin-top: 10px;
    line-height: 2;
}

.aboutme h3 {
    margin-left: 800px;
    text-align: left;
    color: #2a1a47;
    font-size: 100 px;
    margin-bottom: 10px;
}

.aboutme p {
    margin-left: 800px;
    text-align: left;
    width: 400px;
    font-size: 100 px;
   
}


#projects h2 {
    margin-top: 0px;
    color: #2a1a47;
    margin-bottom: 15px;
    font-size: 20 px;
}

#projects ul {
    list-style: none;
    padding-left: 20px;
    font-size: 1.2 px;
    line-height: 5;
}


#contact h2 {
    color: #2a1a47;
    font-size: 2 px;
    margin-bottom: 20px;
}

#contact a {
    display: block;
    margin: 10px 0;
    font-size: 20 px;
    color: #4e2aff;
    text-decoration: none;
    
}

#contact a:hover {
    color: #8040ff;
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 10 px;
    color: #2a1a47;
    background: #f0f0f0;
}
